body {
  background-image: url(assets/background.png);
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 10px;
}

.chat-modal {
  width: 280px;
  height: 340px;
  margin-top: 160px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.top-bar {
  height: 40px;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #0C77F8;
  color: #FFFFFF;
  margin: 0;
  border-radius: 6px 6px 0 0;
  letter-spacing: 0.6px;
}

.close {
  height: 35px;
  position: absolute;
  right: 4px;
  top: 3px;
  cursor: pointer;
}

.message-index {
  height: 250px;
  background: #F6F6F6;
}

.message {
  display: flex;
  padding: 20px;
}

.avatar-holder {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 23px 5px 0 0;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.green-circle {
  position: absolute;
  background: #05DE31;
  height: 7px;
  width: 7px;
  right: -0.5px;
  top: -0.5px;
  border: 1.5px solid #F6F6F6;
  border-radius: 8px;
}

.info {
  width: 160px;
  line-height: 15px;
}

.timestamp {
  margin: 0 0 8px 8px;
  color: #969696;
  text-align: center;
  font-size: 9px;
}

.body {
  width: 100%;
  position: relative;
  background: #FFFFFF;
  color: #7c7c7c;
  font-size: 10px;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-left: 10px;
}

.body:after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 30px;
  left: -10px;
  bottom: auto;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-width: 10px 10px 0 0;
  border-color: transparent #FFFFFF;
}

.send-bar {
  height: 50px;
  border-radius: 0 0 6px 6px;
  background: #FFFFFF;
}

.message-form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 20px;
}

.send-bar input {
  border: 0;
  font-size: 10px;
}

.send-bar input:focus {
  outline: none;
}

.type-message::placeholder {
  color: #BAB8B8;
  font-size: 10px;
}

.type-message {
  background: none;
}

.send {
  width: 65px;
  height: 20px;
  align-self: center;
  color: #FFFFFF;
  font-size: 10px;
  border-radius: 15px;
  background: rgba(28,175,252,1);
  background: -moz-linear-gradient(top, rgba(28,175,252,1) 0%, rgba(28,173,252,1) 12%, rgba(28,175,252,1) 16%, rgba(21,149,250,1) 46%, rgba(12,118,248,1) 82%, rgba(12,119,248,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,175,252,1)), color-stop(12%, rgba(28,173,252,1)), color-stop(16%, rgba(28,175,252,1)), color-stop(46%, rgba(21,149,250,1)), color-stop(82%, rgba(12,118,248,1)), color-stop(100%, rgba(12,119,248,1)));
  background: -webkit-linear-gradient(top, rgba(28,175,252,1) 0%, rgba(28,173,252,1) 12%, rgba(28,175,252,1) 16%, rgba(21,149,250,1) 46%, rgba(12,118,248,1) 82%, rgba(12,119,248,1) 100%);
  background: -o-linear-gradient(top, rgba(28,175,252,1) 0%, rgba(28,173,252,1) 12%, rgba(28,175,252,1) 16%, rgba(21,149,250,1) 46%, rgba(12,118,248,1) 82%, rgba(12,119,248,1) 100%);
  background: -ms-linear-gradient(top, rgba(28,175,252,1) 0%, rgba(28,173,252,1) 12%, rgba(28,175,252,1) 16%, rgba(21,149,250,1) 46%, rgba(12,118,248,1) 82%, rgba(12,119,248,1) 100%);
  background: linear-gradient(to bottom, rgba(28,175,252,1) 0%, rgba(28,173,252,1) 12%, rgba(28,175,252,1) 16%, rgba(21,149,250,1) 46%, rgba(12,118,248,1) 82%, rgba(12,119,248,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1caffc', endColorstr='#0c77f8', GradientType=0 );
}
